<?php

return [
    'components' => [
        'personnel' => [
            // Example:
            'class' => '\Sil\IdpPw\Common\Personnel\Insite',
            'insitePeopleSearchBaseUrl' => getenv('INSITE_PEOPLE_SEARCH_BASE_URL'),
            'insitePeopleSearchApiKey' => getenv('INSITE_PEOPLE_SEARCH_API_KEY'),
            'insitePeopleSearchApiSecret' => getenv('INSITE_PEOPLE_SEARCH_API_SECRET'),
        ]
    ]
];