<?php

use Sil\PhpEnv\Env;
use common\components\passwordStore\IdBroker;
use common\components\passwordStore\Google;
use common\components\passwordStore\Multiple;

$zxcvbnApiBaseUrl = Env::get('ZXCVBN_API_BASEURL', 'http://zxcvbn:3000');

return [
    'components' => [
        'auth' => [
            'class' => 'common\components\auth\Saml',
            'signRequest' => false,
            'checkResponseSigning' => false,
            'requireEncryptedAssertion' => false,
            'idpCertificate' => '',
            'spCertificate' => '',
            'spPrivateKey' => '',
            'entityId' => 'idp-pw-api.local',
            'ssoUrl' => '',
            'sloUrl' => '',
            'attributeMap' => [
                'idp_username' => ['field' => 'eduPersonPrincipalName', 'element' => 0 ],
                'first_name' => ['field' => 'givenName', 'element' => 0 ],
                'last_name' => ['field' => 'sn', 'element' => 0 ],
                'email' => ['field' => 'mail', 'element' => 0 ],
                'employee_id' => ['field' => 'employeeId', 'element' => 0],
            ],
        ],
        'passwordStore' => [
            'class' => Multiple::class,
            'passwordStoresConfig' => [
                [
                    'class' => IdBroker::class,
                    'displayName' => 'Acme Identity',
                ],
                [
                    'class' => Google::class,
                    'displayName' => 'Acme Google Workspace',
                    'applicationName' => 'Acme IdP',
                    'jsonAuthFilePath' => '/data/google.json',
                    'delegatedAdminEmail' => 'admin@example.org',
                    'searchDomain' => 'example.org',
                ]
            ],
        ],
    ],
];
