# email address to use on the From: header of email messages
FROM_EMAIL=

# email address for error notification
NOTIFICATION_EMAIL=

# Optional, to use a functional mailer, define the following
#MAILER_USEFILES=false
#MAILER_HOST=
#MAILER_USERNAME=
#MAILER_PASSWORD=
