### The following ENV vars are expected to be defined:
MAILER_USERNAME=
MAILER_PASSWORD=
ADMIN_EMAIL=
FRONT_COOKIE_KEY=long-32-char-string-goes-here-ok
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
COMPOSER_AUTH={"github-oauth":{"github.com":"tokenhere"}}
COMPOSER_CACHE_DIR=/tmp
UI_URL=http://idp-pw.local/
INSITE_PEOPLE_SEARCH_BASE_URL=
INSITE_PEOPLE_SEARCH_API_KEY=
INSITE_PEOPLE_SEARCH_API_SECRET=