### The following ENV vars are expected to be defined:
MAILER_USEFILES=true
MAILER_HOST=smtp.gmail.com
MAILER_USERNAME=
MAILER_PASSWORD=
ADMIN_EMAIL=
FROM_EMAIL=
FROM_NAME=Your friendly Help Desk team
FRONT_COOKIE_SECURE=true
RECAPTCHA_REQUIRED=true
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
COMPOSER_AUTH={"github-oauth":{"github.com":"tokenhere"}}
COMPOSER_CACHE_DIR=/tmp
COOKIE_VALIDATION_KEY=
UI_URL=http://idp-pw.local/#
UI_CORS_ORIGIN=http://idp-pw.local
HELP_CENTER_URL=https://google.com/
LOGENTRIES_KEY=
SUPPORT_PHONE=
SUPPORT_EMAIL=
SUPPORT_URL=
SUPPORT_FEEDBACK=
ZXCVBN_API_BASEURL=http://zxcvbn:3000
ACCESS_TOKEN_HASH_KEY=nice long random string here
ALERTS_EMAIL=
ALERTS_EMAIL_ENABLED=false
ID_BROKER_baseUrl=http://docker.for.mac.localhost:8090
ID_BROKER_accessToken=abc123
ID_BROKER_assertValidBrokerIp=false
ID_BROKER_validIpRanges=127.0.0.1/32,192.168.65.1/32
EMAIL_SERVICE_useEmailService=false
EMAIL_SERVICE_baseUrl=http://docker.for.mac.localhost:8888
EMAIL_SERVICE_accessToken=abc123
EMAIL_SERVICE_assertValidIp=true
EMAIL_SERVICE_validIpRanges=127.0.0.1/32,192.168.65.1/32
AUTH_SAML_signRequest=false
AUTH_SAML_checkResponseSigning=false
AUTH_SAML_requireEncryptedAssertion=false
AUTH_SAML_idpCertificate=
AUTH_SAML_spCertificate=
AUTH_SAML_spPrivateKey=
AUTH_SAML_entityId=idp-pw-api.local
AUTH_SAML_ssoUrl=
AUTH_SAML_sloUrl=

### Env. vars for testing:
TEST_GOOGLE_PWSTORE_CONFIG_applicationName=
TEST_GOOGLE_PWSTORE_CONFIG_delegatedAdminEmail=
TEST_GOOGLE_USER_EMAIL=

# Please provide ONE of the following.
#TEST_GOOGLE_PWSTORE_CONFIG_jsonAuthFilePath=
#TEST_GOOGLE_PWSTORE_CONFIG_jsonAuthConfigBase64=

# Optional. If not provided, a random secure password will be generated.
#TEST_GOOGLE_USER_NEW_PASSWORD=

APP_ENV=prod
REMOTE_DEBUG_IP=
