### The following ENV vars are expected to be defined:
MAILER_USE_FILES=false
MAILER_HOST=smtp.gmail.com
MAILER_USERNAME=
MAILER_PASSWORD=
ADMIN_EMAIL=
FROM_EMAIL=
FROM_NAME=Your friendly Help Desk team
FRONT_COOKIE_SECURE=true
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
COMPOSER_AUTH={"github-oauth":{"github.com":"tokenhere"}}
COMPOSER_CACHE_DIR=/tmp
UI_URL=http://idp-pw.local/#
UI_CORS_ORIGIN=http://idp-pw.local
HELP_CENTER_URL=https://google.com/
LOGENTRIES_KEY=
SUPPORT_PHONE=
SUPPORT_EMAIL=
SUPPORT_URL=
SUPPORT_FEEDBACK=
ZXCVBN_API_BASEURL=http://zxcvbn:3000
ACCESS_TOKEN_HASH_KEY=nice long random string here