name: Test and Publish

on:
  push:

jobs:
  tests:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Check PSR2
        run: docker compose -f actions-services.yml run --rm app ./check-psr2.sh
      - name: Run unit tests
        run: docker compose -f actions-services.yml run --rm app ./run-tests.sh
      - name: Run API tests
        run: docker compose -f actions-services.yml run --rm app ./run-tests-api.sh

  build-and-publish:
    name: Build and Publish
    needs: tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ vars.DOCKER_ORG }}/${{ github.event.repository.name }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            GITHUB_REF_NAME=${{ github.ref_name }}
